body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: green;
  font-family: 'Roboto';
  display: grid;
  grid-template: 1fr 9fr / 1fr 4fr;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* grid-area: row-start / column-start / row-end / column-end; */

#sidebar {
  background-color: #1992d4;
  color: white;
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  grid-template-rows: 1fr 3fr 3fr;
  /* height: 100vh; */
  /* position: sticky; */
  top: 0;
}

#sidebar-header-container {
  font-size: clamp(0.5rem, 1.3vw, 1.5rem);
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#sidebar-header-container > img {
  width: clamp(20px, 60%, 90%);
}

#sidebar-header-container > h1 {
  justify-self: start;
}

#top-sidebar-menu {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.sidebar-menu-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.sidebar-menu-section > img {
  width: 2vw;
}

.sidebar-menu-section > p {
  justify-self: start;
  font-size: clamp(0.8rem, 1vw, 1.3rem);
  font-weight: 500;
  cursor: pointer;
}

#header {
  background-color: #ffffff;
  display: grid;
  grid-template: 1fr 1.5fr / 2fr 1fr;
  box-shadow: 10 0vw 0 30vw black;
  padding: 2vh 0 2vh 0;
}

#top-left-header-container {
  align-self: center;
  align-items: center;
}

#top-left-header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-left: 2vw;
}

#top-left-header > img {
  width: 2.2vw;
}

#top-left-header > input {
  border: none;
  background-color: #e2e8f0;
  border-radius: 3vw;
  margin-left: -2vw;
}

#top-right-header-container {
  align-self: center;
  align-items: center;
}

#top-right-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-weight: 500;
  margin-right: 2vw;
}

#bell-icon {
  width: 2.2vw;
  justify-self: end;
}

#top-header-avatar {
  width: 3.4vw;
}

#top-right-header > p {
  justify-self: start;
  font-size: 0.95rem;
}

#bottom-left-header-container {
  align-self: center;
  align-items: center;
  padding-top: 1vh;
}

#bottom-left-header {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
  margin-left: 2vw;
  font-weight: 500;
}

#bottom-header-avatar {
  grid-area: 1 / 1 / 3 / 2;
  width: clamp(1vw, 6vw, 20vw);
  align-self: center;
}

#hello-header {
  font-size: 1rem;
  margin: 0;
  margin: 0 0 0 -2vw;
  align-self: end;
}

#bottom-header-username {
  font-size: 1.5rem;
  margin: 0 0 0 -2vw;
  align-self: start;
}

#bottom-right-header-container {
  align-self: center;
  align-items: center;
}

#bottom-right-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 3vw;
}

.header-button {
  border: none;
  background-color: #1992d4;
  color: white;
  font-size: 1rem;
  padding: 0.5em 1.3em 0.5em 1.3em;
  border-radius: 3vw;
  justify-self: center;
  font-weight: 550;
  cursor: pointer;
}

#header-new-button {
  margin-right: 1rem;
}

#header-share-button {
  margin-left: 1rem;
}

#main {
  background-color: #e2e8f0;
  padding : 0 2vw 0 2vw;
  display: grid;
  grid-template: 1fr 4fr 1fr 4fr / 2fr 1fr;
}

#main > h2 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 450;
  align-self: center;
}

#your-projects-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-area: 2 / 1 / 5 / 2;
}

.project {
  background-color: white;
  border-left: 20px solid #f0b429;
}

.project > p {
  color: #636363;
}

.project-buttons > button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 3vw;
}

#announcements {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.announcement-container > p {
  color: #636363;
}

.trending-user-container {
  background-color: white;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.trending-avatar {
  grid-row-start: 1;
  grid-row-end: 3;
}