* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Roboto';
  display: grid;
  grid-template: 1fr 9fr / 1fr 5fr;
}

@media (max-width: 1170px) {
  body {
    grid-template: 1fr 12fr / 1fr 5fr;
  }
}

@media (max-width: 1070px) {
  body {
    grid-template: 1fr 13fr / 1fr 5fr;
  }
}

@media (max-width: 1000px) {
  body {
    grid-template: 1fr 13fr / 1fr 5fr;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* grid-area: row-start / column-start / row-end / column-end; */

#sidebar {
  background-color: #1992d4;
  color: white;
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  grid-template-rows: 1fr 3fr 3fr;
  height: 100vh;
  position: sticky;
  top: 0;
}

#sidebar-header-container {
  font-size: clamp(0.5rem, 0.65rem, 1.5rem);
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#sidebar-header-container > img {
  width: clamp(20px, 57%, 90%);
}

#sidebar-header-container > h1 {
  justify-self: start;
}

#top-sidebar-menu {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.sidebar-menu-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.sidebar-menu-section > img {
  width: 2vw;
}

.sidebar-menu-section > p {
  justify-self: start;
  font-size: clamp(0.8rem, 1vw, 1.3rem);
  font-weight: 500;
  cursor: pointer;
}

#header {
  background-color: #ffffff;
  display: grid;
  grid-template: 1fr 1.5fr / 2fr 1fr;
  box-shadow: 10 0vw 0 30vw black;
  padding: 2vh 0 2vh 0;
}

#top-left-header-container {
  align-self: center;
  align-items: center;
}

#top-left-header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-left: 2vw;
}

#top-left-header > img {
  width: 2.2vw;
}

#top-left-header > input {
  border: none;
  background-color: #e2e8f0;
  border-radius: 3vw;
  margin-left: -2vw;
}

#top-right-header-container {
  align-self: center;
  align-items: center;
}

#top-right-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-weight: 500;
  margin-right: 2vw;
}

#bell-icon {
  width: 2.2vw;
  justify-self: end;
}

#top-header-avatar {
  width: 3.4vw;
  border-radius: 50%;
}

#top-right-header > p {
  justify-self: start;
  font-size: 0.95rem;
}

#bottom-left-header-container {
  align-self: center;
  align-items: center;
  padding-top: 1vh;
}

#bottom-left-header {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
  margin-left: 2vw;
  font-weight: 500;
}

#bottom-header-avatar {
  grid-area: 1 / 1 / 3 / 2;
  width: clamp(1vw, 6vw, 20vw);
  align-self: center;
  border-radius: 50%;
}

#hello-header {
  font-size: 1rem;
  margin: 0 0 0 -6vw;
  align-self: end;
}

#bottom-header-username {
  font-size: 1.5rem;
  margin: 0 0 0 -6vw;
  align-self: start;
}

@media (max-width: 1080px) {
  #hello-header {
    margin: 0 0 0 -3vw;
  }

  #bottom-header-username {
    margin: 0 0 0 -3vw;
  }
}

#bottom-right-header-container {
  align-self: center;
  align-items: center;
}

#bottom-right-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 3vw;
}

.header-button {
  border: none;
  background-color: #1992d4;
  color: white;
  font-size: 1rem;
  padding: 0.5em 1.3em 0.5em 1.3em;
  border-radius: 3vw;
  justify-self: center;
  font-weight: 550;
  cursor: pointer;
}

#header-new-button {
  margin-right: 1rem;
}

#header-share-button {
  margin-left: 1rem;
}

#main {
  background-color: #e2e8f0;
  padding : 1vh 2vw 4.5vh 2vw;
  display: grid;
  /* grid-template: 0.1fr 1fr 0.1fr 1fr / 4fr 1fr; */
  grid-template: 5% 45% 5% 45% / 4fr 1fr;
  column-gap: 2%;
}

#main > h2 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 500;
  font-size: 1.2rem;
  align-self: center;
}

#your-projects-container {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  grid-area: 2 / 1 / 5 / 2;
  gap: 2% 5%;
  /* align-items: center;
  justify-content: center; */
}

.project {
  background-color: white;
  border-left: 1vw solid #f0b429;
  border-radius: 7px;
  padding: 6% 10% 0 4%;
}

.project-description {
  color: #636363;
  font-size: 1.25rem;
  margin: 4% 0 0 0;
}

.project > h3 {
  font-size: 1.25rem;
  margin: 0;
}

.project-buttons {
  margin: 37% 0 0 5%;
  display: grid;
  grid-template-columns: 13% 13% 13%;
  justify-content: end;
}

@media (max-width: 1070px) {
  .project-buttons {
    margin: 60% 0 0 10%;
  }
}

@media (min-width: 1560px) {
  .project-buttons > button > img {
    height: 70%;
  }
}

.project-buttons > button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 3vw;
  cursor: pointer;
}

#announcements {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 7px;
}

.announcement-container {
  margin: 0 20px 0 20px;
}

.announcement-container > p {
  color: #636363;
}

#border-announcement-container {
  border-top: 0.5px solid #636363;
  border-bottom: 0.5px solid #636363;
}

#trending {
  display: grid;
}

.trending-user-container {
  background-color: white;
  display: grid;
  grid-template: 0.5fr 0.5fr / 1fr 1fr;
  padding: 0 20px 0 20px;
}

.trending-user-container > h5 {
  align-self: end;
  margin: 0 0 7% 0;
  font-size: 1rem;
}

.trending-user-container > p {
  align-self: start;
  margin: 7% 0 0 0;
  font-size: 1rem;
}

.trending-avatar {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 30%;
  align-self: center;
  border-radius: 50%;
}

@media (max-width: 1070px) {
  .trending-avatar {
    height: 20%;
    margin-right: 1vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

#top-border-radius-trending {
  border-radius: 7px 7px 0 0;
}

#bottom-border-radius-trending {
  border-radius: 0 0 7px 7px;
}
